*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    min-height: 80px;
    z-index: 999;
}

.jumbotron{
    background-color: #B4D0E7;
    max-height: 800px;
    margin: 80px 0 120px 0;
}

.container{
    width: 65%;
    margin: auto;
}

h1{
    font-size: 100px;
    font-weight: bolder;
    text-align: left;
}

.titolo{width: 65%;
margin: auto;
padding-top: 40px;}

#jumbo-img{
    width: 100%;
    margin-bottom: 100px;
}
.jumbo-sx{
    width: 35%;
    margin: auto;
}

.btn{
    border: 1px solid #0061FF;
    background-color: #0061FF;  
    padding: 10px;
    
}

.jumbo-dx{
    width: 65%;
   margin: 30px auto -60px auto;
}

h2{font-size: 50px;}

.radio-selected{
    border: 2px #0061FF solid;
    border-radius: 50%;
    padding: 5px;
}
.radio-n-selected{
    border: 2px solid grey;
    border-radius: 50%;
    padding: 5px;
}

.a{
    width:32%;
    background-color: blue;
    min-height: 300px;
    
}
.b{
    width:32%;
    background-color: red;
    min-height: 300px;
    
}
.c{
    width: 32%;
    background-color: green;
    min-height: 300px;
}


.team{text-align: center;} 

.ft-img{background-size: cover;}

#testo{width: 100%;}

.ft{width:30%;
margin: auto;}

.loghi{width: 33%;}



.logo-a{width: 50%;
min-height: 270px;
background-color: #A2D39B;
border: #D1E9CD 15px solid;
}
.logo-b{width: 50%;
    min-height: 270px;
    background-color: #61082B;
}
.logo-c{width: 50%;
    min-height: 270px;
    background-color: #0093CE;
}    
.logo-d{width: 50%;
    min-height: 270px;
    background-color: #FF1C1C;
}    
.logo-e{width: 50%;
    min-height: 270px;
    background-color: #D5001F;
}
.logo-f{width: 50%;
    min-height: 270px;
    background-color: #B4D0E7;
}
.logo-g{width: 50%;
    min-height: 270px;
    background-color: #0D2481;
}
.logo-h{width: 50%;
    min-height: 270px;
    background-color: #FFD830;
}
.img-logo{width: 50%;}


.testo-scrollabile{width: 33%;
margin: 0 10px;
height: 500px;
overflow-y: auto;}

#scroll{font-size: 24px;}

#business{background-color: #B4D0E7;}
.busin{width: 50%;
margin: auto;}
.busine{width: 30%;}

.faq{
    padding: 50px;
}

footer{background-color: black;}