/* flex prop */
.flex{display: flex;}
.clmn{flex-direction: column;}
.wrp{flex-wrap: wrap;}

.jc-sb{justify-content: space-between;}
.jc-sa{justify-content: space-around;}
.jc-cen{justify-content: center;}
.jc-fs{justify-content: flex-start;}

.ai-cen{align-items: center;}
.ai-fs{align-items: flex-start;}
.ai-fe{align-items: flex-end;}

.js-cen{justify-self: center;}
.as-fs{align-self: flex-start;}
/* padding / margin*/
.p-16{padding: 16px;}
.p-24{padding: 24px;}
.p-60{padding: 60px;}
.pb-24{padding-bottom: 24px;}
.pv-24{padding: 24px 0;}
.mtb-25{margin: 25px 0;}
.mt-75{margin-top: 75px;}
.ml-20{margin-left: 20px;}
.mr-20{margin-right: 20px;}
/* color */
.c-wht{color: white;}
.bor-gry{border: 1px solid grey;}
/* font */
.txt-n{text-decoration: none;}
.fs-32{font-size: 32px;}
.fs-24{font-size: 24px;}

/* position */
.rel{position: relative;}
.abs{position: absolute;}
.fix{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}